.contact {
  height: 100%;
  max-width: 1366px;
  margin-top:50px ;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .textContainer {
    gap: 20px;
    text-align: center;
    align-items: center;
    margin-top: 70px;
  }
}

.textContainer h1 {
  font-size: 70px;
  line-height: 30px;
  color: orange;
}

@media (max-width: 768px) {
  .textContainer h1 {
    font-size: 36px;
  }
}

.textContainer h2 {
  color: white;
}

.textContainer span{
  font-weight: 500;
  color: orange;
  font-size: 20px;
}

.formContainer {
  flex: 1;
  position: relative;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .formContainer {
    padding: 50px;
    width: 100%;
  }
}

.formContainer .phoneSvg {
  stroke: orange;
  position: absolute;
  margin: auto;
  z-index: -1;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer form input,
.formContainer form textarea {
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .formContainer form input,
  .formContainer form textarea {
    padding: 10px;
  }
}

.formContainer form button {
  padding: 20px;
  border: none;
  background-color: orange;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 768px) {
  .formContainer form button {
    padding: 10px;
  }
}
