.header {
  display: flex;
  flex-direction: row;
  padding: 0 4rem;
  overflow: hidden;
  position: relative;
}

.header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 5rem;
}

.header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 66px;
  line-height: 75px;
  margin-top: -60px;
  opacity: 0; 
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1rem;
  opacity: 0; 
  transform: translateX(-100%); 
  transition: opacity 1s ease-out 0.2s, transform 1s ease-out 0.2s; 
}

.slide-in-left {
  opacity: 1 !important; 
  transform: translateX(0) !important;
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-image img {
  width: 100%;
  height: 100%;
  margin-top: -40px;
}

.slidingTextContainer {
  position: absolute;
  font-size: 50vh;
  bottom: -90px;
  white-space: nowrap;
  color: #ffffff09;
  width: 50%;
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
  }

  .header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .header-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .header-content p {
    font-size: 14px;
    line-height: 24px;
  }
}
